/*
light-green: #F6F7D7
Blue: #3EC1D3
Orange: #FF9A00
Red: #FF165D
*/

:root {
    /* Light theme colors */
    --bg-color: #F6F7D7;
    --text-color: #2A363B;
    --text-muted: #2a363b80;
    --input-bg: #ff990091;
    --border-color: black;
    --btn-bg: #FF9A00;
    --btn-hover: #FF165D;
    --btn-hover-text: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme colors */
        --bg-color: #1a1a1a;
        --text-color: #e4e4e4;
        --text-muted: #888888;
        --input-bg: #333333;
        --border-color: #555555;
        --btn-bg: #FF9A00;
        --btn-hover: #FF165D;
        --btn-hover-text: white;
    }
}

html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-width: 500px;
    min-height: 100px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0 2rem;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 1.5rem 0;
    font-weight: bolder;
}

.input-div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.task-input {
    width: 30rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 1rem;
}

.tasks-list-div {
    display: flex;
    flex-direction: column;
}

.task-div {
    display: flex;
    justify-content: space-between;
    margin: .7rem 0rem;
}

.task-div:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: solid 1px var(--border-color);
}

.task-text {
    justify-self: center;
    max-width: 20rem;
    word-wrap: break-word;
    font-size: 1.3rem;
    vertical-align: middle;
    line-height: 1.5;
}

.task-completed {
    text-decoration: line-through;
    font-style: italic;
    color: var(--text-muted);
}

.task-controls {
    display: flex;
    align-items: center;
}

.task-clear-div {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 1.5rem 0;
}

.task-btn {
    min-width: 4rem;
    border: none;
    outline: none;
    padding: .7rem .9rem;
    background-color: var(--btn-bg);
    color: var(--text-color);
}

.task-btn:not(:last-child) {
    border-right: solid 1px var(--border-color);
}

.task-btn:hover, .task-btn:focus {
    background-color: var(--btn-hover);
    color: var(--btn-hover-text);
}

.task-input, .task-btn-edit {
    border-radius: 7px 0 0 7px;
}

.task-btn-submit, .task-btn-do {
    border-radius: 0 7px 7px 0;
}

.task-btn-clear {
    border-radius: 7px;
}